#mysteryTitle{
    color: burlywood;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bookList img{
    /* width: 195px;  */
    height: 250px;
    max-width: 100%;
    /* height: auto; */
    display: block;
}
.bookList p{
    font-size: 85%;
}
.bookList h5{
    font-size: 100%;
    font-weight: bolder;
}
.card{
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 2px;
    box-sizing: border-box;
}
.mainDivList{
    padding-top: 150px;
    padding-right: 50px;
    padding-bottom: 50px;
}