
.mainDivSign{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
    padding-top: 100px;
    box-sizing: border-box;
}
#signUpForm{
    width: 500px;
   
     background-color: rgb(0, 0, 0,0.5);
     /* margin-top: 150px;
     margin-left: 500px; */
     color: white;
     padding: 25px;
}
.innerDivSign{
     padding-top: 0;
     padding-bottom: 0;
     margin: 20px;
}